#main-content {
	width: 100%
	background-color: #fff;
}

.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	text-align: center;
}

#header .logo {
	display: inline-block;
	transform: translateY(20px);
	padding: 25px 30px 20px 30px;
	background-color: #fff;
	border-radius: 5px;
}